
	<h2>About Me</h2>

	<p>Hi there! Thanks for checking out my first run at a Rails app.</p>
	
	<p> If you want to learn how I did it, I'm using <%= link_to "One Month Rails", "http://onemonthrails.com/signup?discount_code=3gzp9h" %> to learn how I can quickly deploy an app, while I learn deeper technical details with <%= link_to "Codeschool", "http://codeschool.com" %> and <%= link_to "Treehouse", "http://referrals.trhou.se/nicknish" %>!</p>